@Tile Arena[tags = "Level1 Room"]
@Tile LRCorridor[tags = "Level1 Corridor" sides = "LEFT RIGHT"]
@Tile UDCorridor[tags = "Level1 Corridor" sides = "UP DOWN"]
@Tile URCorridor[tags = "Level1 Corridor" sides = "UP RIGHT"]
@Tile ULCorridor[tags = "Level1 Corridor" sides = "UP LEFT"]
@Tile LDCorridor[tags = "Level1 Corridor" sides = "LEFT DOWN"]
@Tile RDCorridor[tags = "Level1 Corridor" sides = "RIGHT DOWN"]

!Arena(*) < *[tags = "Level1"]
!LRCorridor(*) < *[tags = "Level1"]
!UDCorridor(*) < *[tags = "Level1"]
!URCorridor(*) < *[tags = "Level1"]
!ULCorridor(*) < *[tags = "Level1"]
!LDCorridor(*) < *[tags = "Level1"]
!RDCorridor(*) < *[tags = "Level1"]